/* Home.css */
#root {}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hover-bg-blue:hover {
  background-color: #0077B5;
}

.home {
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .about, .who-am-i, .interests {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .about h2, .who-am-i h2, .interests h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .about p, .who-am-i p, .interests p {
    font-size: 1.1rem;
    line-height: 1.6;
  }